* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #1c1a1d;
    color: #fff;
  }
  
  main {
    display: flex;
    gap: 2rem;
    margin: 0 2rem;
  }
  
  main > form {
    flex: 1;
  }
  
  main > div {
    flex: 3;
  }
  
  h1 {
    margin: 2rem 2rem 0;
  }
  
  h2 {
    background-color: #39353b;
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin: 1.5rem 0 .5rem;
  }
  
  input {
    background-color: #39353b;
    border: 0;
    border-radius: .25rem;
    color: #fff;
    padding: .75rem;
    width: 100%;
  }
  
  button {
    background-color: #6bf394;
    border: 0;
    border-radius: .25rem;
    font-size: .9rem;
    padding: .5rem 1rem;
  }
  
  button:hover {
    cursor: pointer;
    filter: brightness(0.9);
  }
  
  form > button {
    margin-top: 1rem;
    width: 100%;
  }
  
  button + button {
    margin-left: 1rem;
  }
  
  .editar {
    background-color: #7bb4ff;
    position: absolut;
    left: 30rem;
  }

  .buttons {
    display: inline-block;
    margin-left: 10px;
  }
  
  .deletar {
    background-color: #f64348;
  }

  .linha {
    border-bottom: 1px solid rgba(255, 255, 255, 0.449);
    padding: 10px;
  }
  
  @media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
  }